<app-header></app-header>

<div class="example-container">
  <h1>Demo</h1>
  <ng-container *ngIf="profile; then displayProfile; else login"></ng-container>
  <ng-template #displayProfile>
    <app-profile-display
      [profile]="profile"
      (logout)="logout()"
    ></app-profile-display>
  </ng-template>
  <ng-template #login>
    <lwa-button
      src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
      (authorize)="onAuthorize($event)"
      [options]="options"
    >
    </lwa-button>
    <app-scope-picker
      [style.width]="'100%'"
      [options]="options"
      (optionChange)="this.options = $event"
    ></app-scope-picker>
  </ng-template>
</div>
