dist: trusty
sudo: false

language: node_js
node_js:
  - '10'

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - ./node_modules

install:
  - yarn install

script:
  - yarn test --no-watch --no-progress --browsers=ChromeHeadlessCI --code-coverage
