<div class="container">
  <mat-checkbox
    color="primary"
    name="scope-{{ scope }}"
    [checked]="scopeRequested"
    (change)="scopeRequestChange.emit(!scopeRequested)"
  >
    {{ title }}
  </mat-checkbox>

  <ng-container *ngIf="scopeRequested">
    <mat-checkbox
      color="primary"
      name="scope-{{ scope }}-essential"
      [checked]="scopeRequired"
      (change)="scopeRequiredChange.emit(!scopeRequired)"
    >
      Essential?
    </mat-checkbox>
  </ng-container>
</div>
<br />
