<div>
  <ng-container></ng-container>

  <app-scope-picker-field
    title="Profile"
    scope="profile"
    [scopeRequested]="isScopeRequested('profile')"
    [scopeRequired]="isScopeRequirementChecked('profile')"
    (scopeRequestChange)="onScopeChange('profile', $event)"
    (scopeRequirementChange)="onScopeRequirementChange('profile', $event)"
  ></app-scope-picker-field>

  <app-scope-picker-field
    title="Postal Code"
    scope="postal_code"
    [scopeRequested]="isScopeRequested('postal_code')"
    [scopeRequired]="isScopeRequirementChecked('postal_code')"
    (scopeRequestChange)="onScopeChange('postal_code', $event)"
    (scopeRequirementChange)="onScopeRequirementChange('postal_code', $event)"
  ></app-scope-picker-field>

  <app-scope-picker-field
    title="User ID"
    scope="profile:user_id"
    [scopeRequested]="isScopeRequested('profile:user_id')"
    [scopeRequired]="isScopeRequirementChecked('profile:user_id')"
    (scopeRequestChange)="onScopeChange('profile:user_id', $event)"
    (scopeRequirementChange)="
      onScopeRequirementChange('profile:user_id', $event)
    "
  ></app-scope-picker-field>
</div>
