<div>
  <app-scope-picker-field
    title="Profile"
    scope="profile"
    [scopeEnabled]="isValueChecked('profile')"
    [isRequired]="isEssentialValueChecked('profile')"
    (scopeChange)="onScopeChange('profile')"
    (scopeRequirementChange)="onScopeRequirementChange('profile')"
  ></app-scope-picker-field>

  Postal Code:
  <input
    type="checkbox"
    name="scope-postal-code"
    id="scope-postal-code"
    [checked]="isValueChecked('postal_code')"
    (change)="onScopeChange('postal_code')"
  />
  <ng-container *ngIf="isValueChecked('postal_code')">
    Essential?
    <input
      type="checkbox"
      name="scope-postal-code-essential"
      id="scope-postal-code-essential"
      [checked]="isEssentialValueChecked('postal_code')"
      (change)="onScopeRequirementChange('postal_code')"
    />
  </ng-container>
  <br />

  User ID:
  <input
    type="checkbox"
    name="scope-profile:user_id"
    id="scope-profile:user_id"
    [checked]="isValueChecked('profile:user_id')"
    (change)="onScopeChange('profile:user_id')"
  />
  <ng-container *ngIf="isValueChecked('profile:user_id')">
    Essential?
    <input
      type="checkbox"
      name="scope-profile:user_id-essential"
      id="scope-profile:user_id-essential"
      [checked]="isEssentialValueChecked('profile:user_id')"
      (change)="onScopeRequirementChange('profile:user_id')"
    />
  </ng-container>
</div>
