<mat-toolbar color="primary">
  <span>ngx-login-with-amazon-button</span>
  <div>
    <a
      mat-button
      class="docs-button docs-navbar-hide-small"
      href="https://ngx-login-with-amazon-button.netlify.com/docs"
      aria-label="Documentation"
      target="_blank"
      rel="noopener"
    >
      {{ book }} Docs
    </a>
    <a
      mat-button
      class="docs-button docs-navbar-hide-small"
      href="https://github.com/solkaz/ngx-login-with-amazon-button"
      aria-label="GitHub Repository"
      target="_blank"
      rel="noopener"
    >
      <img
        class="docs-repo-logo"
        src="../../assets/github-circle-white-transparent.svg"
        alt="Github logo"
      />
      GitHub
    </a>
  </div>
</mat-toolbar>
